<h1>Users#signup</h1>
<p>Find me in app/views/users/signup.html.erb</p>

<h4>Link to admins</h4>
<%= link_to "admin_page", users_admin_path %>
<h4>Link to designer profile</h4>
<%= link_to "designer_view_page", users_designers_path %>
<h4>Link to model profile</h4>
<%= link_to "model_profile_page", users_profile_path %>
<h4>Link to register page</h4>
<%= link_to "register_page", users_register_path %>
<h4>Link to index page</h4>
<%= link_to "index_page", users_index_path %>


